[data-url-tooltip]{
    position: relative;
}

/* The bubble of the tooltip */
[data-url-tooltip]::after {
    content: attr(data-url-tooltip);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 200px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.5s;
}

[data-url-tooltip]::before, [data-url-tooltip]::after {
    opacity: 0;
}

[data-url-tooltip]:hover::before, [data-url-tooltip]:hover::after {
    opacity: 1;
}
